
DS_Store# macOS
.DS_Store

# Python
__pycache__/
*.pyc


# Entornos virtuales
venv/
.venv/
.env

# Jupyter / Colab
.ipynb_checkpoints/

# Archivos de datos (no subir datasets finales)
*.csv


# Configuración de IDEs
.vscode/
